{% extends 'base.html' %}

{% block title %}
    getScores | LNTUME
{% endblock %}

{% block content %}
    <h1>本学期成绩</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            {% for name,verbose_name in context.name_and_verbose.items %}
                <th>{{ verbose_name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for score in context.scores %}
            <tr>
                <td>{{ score.course_id }}</td>
                <td>{{ score.name }}</td>
                <td>{{ score.course_number }}</td>
                <td>{{ score.scores }}</td>
                <td>{{ score.credit }}</td>
                <td>{{ score.inspect_method }}</td>
                <td>{{ score.course_properties }}</td>
                <td>{{ score.status }}</td>
                <td>{{ score.status }}</td>
                <td>{{ score.exam_categories }}</td>
                <td>{{ score.semester }}</td>
                <td>{{ score.is_delay_exam }}</td>
                <td>{{ score.details_print_id }}</td>
                <td>{{ score.made_up_of }}</td>
                <td>{{ score.daily_score }}</td>
                <td>{{ score.midterm_score }}</td>
                <td>{{ score.exam_score }}</td>
                <td>{{ score.final_score }}</td>
                <td>{{ score.last_updated }}</td>
                <td>{{ score.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
