certifi==2019.11.28
chardet==3.0.4
Click==7.0
fastapi==0.50.0
h11==0.9.0
httptools==0.1.1
idna==2.9
lxml==4.5.0
parse==1.15.0
pydantic==1.4
requests==2.23.0
starlette==0.13.2
urllib3==1.25.8
uvicorn==0.11.7
uvloop==0.14.0
websockets==8.1
sqlalchemy==1.3.18
async-exit-stack==1.0.1
async-generator==1.10
pymysql==0.10.0
