fastapi==0.60.1
pydantic==1.6.1
starlette==0.13.6
pytest==5.4.3
requests==2.24.0
sqlalchemy==1.3.18
pymysql==0.10.0
pyyaml==5.3.1
uvicorn>=0.11.7
lxml>=4.6.2
sentry_sdk==0.16.2
fastapi-sqlalchemy==0.2.1
parse==1.18.0
celery==5.0.5
redis==3.5.3
PyJWT==1.7.1
hyper==0.7.0