{% extends 'base.html' %}

{% block title %}
    Login | LNTUME
{% endblock %}

<div class="container">
    {% block content %}
        <table class="table table-dark">
            <thead>
            <tr>
                {% for name,verbose_name in context.name_and_verbose.items %}
                    <th>{{ verbose_name }} - {{ name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for score in context.scores %}
                <tr>
                    <td>{{ score.date }}</td>
                    <td>{{ score.level }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</div>